{% extends 'base.html.twig' %}

{% block body %}
    <header class="container">
        <h1 class="text-center">{% block title %}{% endblock %}</h1>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                {% include '::Notifications/notifications.html.twig' %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
{% endblock %}