{% extends 'base.html.twig' %}

{% block body %}
    <header class="container">
        <h1 class="text-center">{% block title %}{% endblock %}</h1>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
{% endblock %}